<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link href="/styles/registration.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="main-container">
    <div class="auth-btns">
        <div class="auth">
            Авторизация
        </div>
    </div>
    <div class="container">
        <h2>Регистрация</h2>
        <form th:action="@{/registration}" method="POST">
            <input type="text" name="firstName" placeholder="Имя" required>
            <input type="text" name="secondName" placeholder="Фамилия" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <input type="date" name="dateOfBorn" placeholder="Дата рождения" required>
            <select name="gender">
                <option value="male">Мужской</option>
                <option value="female">Женский</option>
            </select>
            <p class="reg-result" th:text="${result}"></p>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>

</div>
</body>
</html>