body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.main-page-container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 90vh;
    max-width: 50%;
    max-height: 70%;
    align-self: center;
    width: 40%;
}

.self {
    width: 250px;
    margin-bottom: 20px;
    margin-right: 5vh;
}

.photo {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border: 4px solid #3c53e7;
}

.photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.self-btns {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.self-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0;
/ Убираем закругление углов * / cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.self-btn:first-child {
/ Закругление только для первой кнопки * / border-top-left-radius: 5 px;
    border-top-right-radius: 5px;
}

.self-btn:last-child {
/ Закругление только для последней кнопки * / border-bottom-left-radius: 5 px;
    border-bottom-right-radius: 5px;
}

.self-btn:hover {
    background-color: #3498db;
}

.self-btn.delete-from-friend {
    background-color: #3498db;
}

.self-btn.delete-from-friend:hover {
    background-color: #2980b9;
}

.send-message-btn:hover {
    background-color: #2980b9;
}


.main-panel {
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 95%;
}

.main-panel div {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.my-friend-btn, .my-page {
    background-color: #3498db;
    color: white;
}

.my-friend-btn:hover, .my-page:hover {
    background-color: #0077b3;
}

.messenger {
    background-color: #3498db;
    color: white;
}

.messenger:hover {
    background-color: #0077b3;
/ Более темный голубой при наведении * /
}


.self-btn {
    padding: 10px 15px;
    background-color: #3498db;
    margin: 2px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

.self-btn:hover {
    background-color: #2980b9;

}

.friends-container {
    flex: 1;
}

.friends-container h2 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #2c3e50;
    font-weight: 600;
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;

}

.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.friend {
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
}


.friend img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
    border: 2px solid #ecf0f1;
    cursor: pointer;
}


.friend-first-name {
    font-weight: bold;
    color: #27ae60;
/ Зеленый цвет имени друга * /
}

.self-data {
    flex: 1;
}

.fio {
    margin-bottom: 20px;
}

.fio .first-name {
    font-size: 28px;
    font-weight: bold;
    color: #34495e;
/ Темно-серый цвет имени * /
}

.fio .second-name {
    font-size: 20px;
    color: #7f8c8d;
/ Светло-серый цвет фамилии * /
}

.additional-self-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.additional-self-data div {
    font-size: 16px;
    color: #666;
}

.self-info {
    display: flex;
    width: 80%;
    height: 100%;
}

.friend-row {
    margin-top: 2vh;
    display: flex;
    height: 30%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    cursor: pointer;
}

.friends-page {
    width: 100%;
}

.friend-name {
    margin-left: 2vh;
    font-weight: 700
}


.delete-from-friend-friend-menu {
    background-color: #3498db;
    color: white;
    scale: 0.9;
    height: 2.5vh;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 14vh;
}

.delete-from-friend-friend-menu:hover {
    background-color: #0077b3;
}

.main-dialogue-container {
    width: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
}

.container-msg {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.text-container {
    width: 95%;
    height: 120px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;

}

.send-message-btn {
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #3498db;
    color: white;
}

.text-container:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.message-text-container {
    width: 100%;
}

.messages-container {
    max-height: 45vh;
    width: 100%;
    overflow-y: scroll;
}

.message {
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.message p {
    margin: 0 0 5px 0;
}

.message-date {
    font-size: 0.8em;
    color: #777;
}

.dialogue-partner {
    display: flex;
    align-self: center;
    cursor: pointer;
    margin-bottom: 1vh;
    font-size: 28px;
    font-weight: bold;
    color: #34495e;
}





.main-message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    border-radius: 5px;
}

.dialogue {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.dialogue:hover {
    background-color: #f2f2f2;
}

.dialogue-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.dialogue-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dialogue-partner {
    font-weight: bold;
}

.dialogue-last-message {
    margin-left: 1.5vh;
}
