<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="">
    <div class="services">

    </div>

    <div class="main">
        <div class="self">
            <div class="photo">
            </div>

            <div class="community-btns">
            </div>

            <div class="friends">
            </div>
        </div>
        <div class="self-data">
            <div class="data">
                // др, языки, работа и тд
            </div>
        </div>
    </div>
</div>

</body>
</html>
